
/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black; /* Replace with your preferred background image URL */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #212020;
}

.container {
    background-color: aliceblue; /* Slightly transparent white */
    padding: 30px;
    border-radius: 10px;
    border: 4px solid transparent;
    box-shadow: 5px 5px 5px 5px rgba(114, 213, 247, 0.905);
    width: 100%;
    max-width: 500px;
    text-align: center;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.container:hover {
    animation: container-border-color 1s infinite;
}

@keyframes container-border-color {
    0%, 100% {
        border-color: transparent;
    }
    50% {
        border-color: rgba(114, 213, 247, 0.905); /* Change this color to your desired border color */
    }
}

h1 {
    color: #007BFF;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 600;
}

textarea {
    width: 100%;
    height: 120px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    resize: none;
    font-family: inherit;
    transition: border-color 0.3s;
}

textarea:focus {
    border-color: #007BFF;
    outline: none;
}

select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: inherit;
    background-color: #fff;
    appearance: none;
    cursor: pointer;
    transition: border-color 0.3s;
}

select:focus {
    border-color: #007BFF;
    outline: none;
}

.buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: stretch;
}

button {
    padding: 15px;
    background-color: #007BFF;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

button:active {
    background-color: #004494;
    transform: translateY(1px);
}

#results {
    margin-top: 20px;
}

textarea[readonly] {
    width: 100%;
    height: 120px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    resize: none;
    font-family: inherit;
    transition: border-color 0.3s;
    cursor: not-allowed;
}
